#toggle{
	cursor: pointer;
	font-size: 30px;
	padding-left: 2%;
	position: fixed;
	text-align: center;
	//padding-right: 2%;
	z-index: 10;
}

#toggleicon{
	transition: all .35s ease;
	-webkit-transition: all .35s ease;
}

.fa-genderless{
	color: black;
 	&.open{
		color: #826B99;
	}
	&:hover{
		color: #826B99;
	}
}
/*
.fa fa-circle{
	background-color: inherit;
	color: black;
}

.fa fa-circle-o{
	background-color: inherit;
	color: black;
}
*/
#menu {
	align-items: center;
	//background: rgba(0, 0, 0, 0.5);
	background-color: #171717;
	color: white;
	display: inline-flex;
	height: 0%;
	justify-content: center;
	//padding-right: 10%;
    position: fixed;
	//overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	transition: 0.5s;
	transition-timing-function: ease;

	//-webkit-transform: skewY(-4deg); /* Safari */
	//transform: skewY(-4deg);
	//transition-duration: 0.5s;

	font-size: 4rem;
	text-align: center;
	visibility: hidden;
	top: 0;
   left: 0;

	width:100%;
	z-index: 5;

	&.open {
    opacity: .95;
	//opacity: 10;
    visibility: visible;
    height: 100%;
	//transition: all .35s ease;
   	//-webkit-transition: all .35s ease;
	//transition-duration: 0.5s;
	//transition: 5s;
	/*
	transition: all 1.5s ease-in-out;
	-webkit-transition: all 1.5s ease-in-out;*/

	width: inherit;
	}
	li{
	//	top: 50vh;
	//	left: 50vw;
		list-style-type: none;
		color: white;
	}
}

/*
#toggle{
	background-color: inherit;
	border: none;
	outline: none;
	//z-index: ;
	}
*/
