$backgroundcolor: #FCFDFD;
$textcolor: #323435;
body{
	background-color: $backgroundcolor;
	color: $textcolor;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	//overflow-y: scroll;
	width: 100%;
	z-index: 0;
	//z-index: -1;
}

blockquote{
	border: none;
}
