.bg {
	background-image: url(Images/header_bottom.jpg);
	background-repeat: no-repeat;
	left: 0px;
	top: 0px;
}
.links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ffcccc;
	text-decoration: none;
}
.links:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.navlinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
}
.top {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}
.links_body {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 12px;
	color: #006666;
}

a {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 12px;
	color: #006666;
}
.bkg {
	background-image: url(../images/lace_background.gif);
}
